<h1>Create a new Recipe:</h1>
<form action="/recipes" method="POST">
    <p>Title: <input type="text" id="name" name="recipe[name]"></p>
    <p>Ingredients: <input type="text" id="ingredients" name="recipe[ingredients]"></p>
    <p>Cook Time(minutes): <input type="text" id="cook_time" name="recipe[cook_time]"></p>
    <button type="submit" id="Submit">Create Recipe</button>
</form>